@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 3rem;
    background-color: rgb(54, 53, 53);
    height: 20vh;
}

header > h1 {
    color: white;
    text-align: center;
    font-size: 45pt;
    text-shadow: 1px 2px 1px black;
    font-weight: bold;
}

nav {
    background-color: rgb(54, 53, 53);
    padding: 1%;
}

nav > a {
    text-decoration: none;
    flex-direction: row;
    margin: auto;
    color: white;
    font-weight: bold;
    margin-left: 3%;
    padding: 1%;
    border-radius: 3px;
}

nav > a:hover {
    background-color: rgb(163, 161, 161);
    color: rgb(17, 17, 17);
}

.marcado {
    background-color: rgb(163, 161, 161);
    color: rgb(17, 17, 17);
}

#box {
    display: block;
    margin-top: 7%;
    margin-bottom: 1rem;
    background-color: rgba(194, 189, 189, 0.6);
    width: 80vw;
    border-radius: 0.8rem;
    position: relative;
}

label {
    font-weight: bold;
}

h2.titulo {
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    padding: 2rem;
}

#enviar {
    display: block;
    margin: auto;
}

button#enviar {
    outline: none;
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgb(0, 81, 255), rgb(0, 132, 255));
    color: white;
    font-weight: bold;
}

button#enviar:hover {
    background: linear-gradient(to right, rgb(3, 69, 211), rgb(2, 105, 201));
}